$backgroundColor: #ffffff;
$toolboxBgColor: #e8e8e8;
$toolboxBorderColor: #d8d8d8;

$toolboxHeight: 46px;

$hoverColor: rgba(0, 0, 0, 0.54);

$btn_default_bg_color: #e0dede;
$btn_default_border_color: #888888;
$btn_default_color: white;
$btn_default_color2: black;

$btn_done_bg_color: rgba(0, 11, 255, 0.53);
$btn_done_border_color: #6c53ff;

$btn_upload_bg_color: #513cad;
$btn_upload_border_color: #3b259a;

$popup_container_bg_color: rgba(0, 0, 0, 0.50);
$popup_default_header_color: #8d8d8d;
$popup_default_body_color: #acacac;
$popup_default_border_color: #bfbfbf;
